div.Header {
  background-color: grey;
  height: 5vh;
  width: 100vw;
  min-height: 10px;
  min-width: 100px;
  padding: 0;
  margin: 0;
}

button.Header {
  float: right;
  margin-right: 1vw;
  padding-left: 1em;
  padding-right: 1em;
}

h1.Header {
  margin: 1em;
  width: 90%;
}
