div.StorageView {
  display: inline-block;
  vertical-align: top;
  height: 98%;
  width: 74%;
  border: 1px solid orange;
  overflow-x: scroll;
  margin : 0;
  padding-left: 0.2%;
  padding-right: 0.2%;
}

table.StorageView {
  border: 1px solid black;
  width: 100%;
}

button.StorageView {
  margin: 0.2em;
  border-style: none;
  background-color: white;
}

tr:nth-child(even) {
  background-color: beige;
}
