div.Header {
  background-color: grey;
  height: 5vh;
  width: 100vw;
  min-height: 10px;
  min-width: 100px;
  padding: 1em;
  margin: 0;
}

div.MainView {
  background-color: lightgrey;
  height: 90vh;
  width: 100vw;
  min-height: 80px;
  min-width: 100px;
  margin: 0;
  padding: 0;
}

div.StorageSelector {
  display: inline-block;
  width: 23%;
  height: 98%;
  border: 1px solid orange;
  margin-right: 0.5%;
  margin-left: 0;
  padding-left: 0.2%;
  padding-right: 0.2%;
}

div.StorageView {
  display: inline-block;
  vertical-align: top;
  height: 98%;
  width: 74%;
  border: 1px solid orange;
  overflow-x: scroll;
  margin : 0;
  padding-left: 0.2%;
  padding-right: 0.2%;
}
